@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*home*/

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li a:before {
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.sectionClass {
    padding: 20px 0 50px 0;
    position: relative;
    display: block;
}

.fullWidth {
    width: 100% !important;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative;
}

.sectiontitle {
    background-position: center;
    margin: 30px 0 0;
    text-align: center;
    min-height: 20px;
}

.sectiontitle h2 {
    font-size: 30px;
    color: #222;
    margin-bottom: 0;
    padding-right: 10px;
    padding-left: 10px;
}

.headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #101F2E;
}

.projectFactsWrap {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}

#projectFacts .fullWidth {
    padding: 0;
}

.projectFactsWrap .item {
    width: 25%;
    height: 100%;
    padding: 50px 0;
    text-align: center;
}

.projectFactsWrap .item {
    background-color: transparent;
}


.projectFactsWrap .item p.number {
    font-size: 40px;
    padding: 0;
    font-weight: bold;
}

.projectFactsWrap .item p {
    color: purple;
    font-size: 18px;
    margin: 0;
    padding: 10px;
}

.projectFactsWrap .item span {
    width: 60px;
    background: rgba(255, 255, 255, 0.8);
    height: 2px;
    display: block;
    margin: 0 auto;
}

.projectFactsWrap .item i {
    vertical-align: middle;
    font-size: 50px;
    color: black;
}

.projectFactsWrap .item {
    background-color: whitesmoke;
}

.projectFactsWrap .item:hover i,
.projectFactsWrap .item:hover p {
    color: black;
    cursor: pointer;
}

@media (max-width: 786px) {
    .projectFactsWrap .item {
        flex: 0 0 50%;
    }
}

#contact .form-control {
    border: none;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
    border-bottom-color: #999999;
}

#contact input {
    height: 55px;
}

h5 {
    font-size: 30px;
}

.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.img-1 {
    background-image: url('../assets/img/slider/1.jpg');
}

.img-0 {
    background-image: url('../assets/img/slider/2.jpg');
}

.img-2 {
    background-image: url('../assets/img/slider/3.jpg');
}

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
}

.my-card {
    position: absolute;
    left: 40%;
    top: -20px;
    border-radius: 50%;
}

.section-title p {
    font-size: 24px;
    margin-bottom: 0;
}

.section-title h4 {
    font-size: 40px;
    text-transform: capitalize;
    color: purple;
    position: relative;
    display: inline-block;
    padding-bottom: 25px;
}

.section-title h4::before {
    width: 80px;
    height: 1.5px;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}

.section-title h4::before, .section-title h4::after {
    position: absolute;
    content: "";
    background-color: purple;
}

#myTabContent {
    margin-top: 50px;
}

.menu_tab {
    width: auto;
    margin: 0 auto;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-item a {
    color: #333;
}

.menu_tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: purple;
    border-color: black;
}

.single_menu_list {
    position: relative;
    padding-left: 190px;
    margin-bottom: 110px;
}

.single_menu_list img {
    max-width: 30%;
    position: absolute;
    left: 0px;
    top: 0;
    border: 1px solid #ddd;
    padding: 3px;
    border-radius: 50%;
    transition: .4s
}

.single_menu_list:hover img {
    border-radius: 0;
    transition: .4s
}

.single_menu_list h4 {
    font-size: 20px;
    border-bottom: 1px dashed #333;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.single_menu_list h4 span {
    float: right;
    font-weight: bold;
    color: black;
    font-style: italic;
}

#contact {
    text-align: center;
}

#send_text:hover {
    cursor: pointer;
}

#send_text {
    margin-left: 45%;
}

#footer {
    background: lightgray;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: black;
}

#footer a {
    color: black;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: black;
}

#footer ul.social li a:hover {
    color: black;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width: 767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}