h5 {
    font-size: 30px;
}

.darken-grey-text {
    color: #2E2E2E;
}

.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}


.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: whitesmoke;
}

.img-1 {
    background-image: url('../img/slider/2.jpg');
}

.img-0 {
    background-image: url('../img/slider/1.jpg');
}

.img-2 {
    background-image: url('../img/slider/3.jpg');
}

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

}

.my-card {
    position: absolute;
    left: 40%;
    top: -20px;
    border-radius: 50%;
}

.mb-60 {
    margin-bottom: 60px;
}

.section-title p {
    font-size: 24px;
    margin-bottom: 0;
}

.section-title h4 {
    font-size: 40px;
    text-transform: capitalize;
    color: purple;
    position: relative;
    display: inline-block;
    padding-bottom: 25px;
}

.section-title h4::before {
    width: 80px;
    height: 1.5px;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}

.section-title h4::before, .section-title h4::after {
    position: absolute;
    content: "";
    background-color: purple;
}



#delivery .box {
    border-radius: 10px;
    width: 100%;
    background-image: url("../img/bg_deliv.jpg");
    background-repeat: no-repeat;
}

#delivery h4 {
    color: whitesmoke;
}

#delivery span {
    color: floralwhite;
}

#delivery i {
    color: lightskyblue;
}

#find-us {
    width: 100%;
    background-image: url("../img/bg_loc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


@media screen and (max-width: 540px) {
    #ph_med {
        width: 100%;
    }
}

#menu {
    background-image: url("../img/bg_rec.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#contact {
    text-align: center;
}

#send_text:hover {
    cursor: pointer;
}

#send_text {
    margin-left: 45%;
}

#scroll_up {
    position: absolute;
    left: 80%;
    display: none;
    margin-top: -150px;
}

#scroll_up:hover {
    cursor: pointer;
}