h5 {
    font-size: 30px;
}

.nav-link {
    font-size: 25px;
}

.navbar-brand {
    font-size: 30px;
    color: yellow !important;
}

.my-nav {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: whitesmoke;
}

.img-1 {
    background-image: url('../img/slider/2.jpg');
}

.img-0 {
    background-image: url('../img/slider/1.jpg');
}

.img-2 {
    background-image: url('../img/slider/3.jpg');
}

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

}

.my-card {
    position: absolute;
    left: 40%;
    top: -20px;
    border-radius: 50%;
}

.mb-60 {
    margin-bottom: 60px;
}

.section-title p {
    font-size: 24px;
    margin-bottom: 0;
}

.section-title h4 {
    font-size: 40px;
    text-transform: capitalize;
    color: purple;
    position: relative;
    display: inline-block;
    padding-bottom: 25px;
}

.section-title h4::before {
    width: 80px;
    height: 1.5px;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}

.section-title h4::before, .section-title h4::after {
    position: absolute;
    content: "";
    background-color: purple;
}

#myTabContent {
    margin-top: 50px;
}

.menu_tab {
    width: auto;
    margin: 0 auto;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-item a {
    color: #333;
}

.menu_tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: purple;
    border-color: black;
}

.single_menu_list {
    position: relative;
    padding-left: 190px;
    margin-bottom: 110px;
}

.single_menu_list img {
    max-width: 30%;
    position: absolute;
    left: 0px;
    top: 0;
    border: 1px solid #ddd;
    padding: 3px;
    border-radius: 50%;
    transition: .4s
}

.single_menu_list:hover img {
    border-radius: 0;
    transition: .4s
}

.single_menu_list h4 {
    font-size: 20px;
    border-bottom: 1px dashed #333;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.single_menu_list h4 span {
    float: right;
    font-weight: bold;
    color: black;
    font-style: italic;
}

#delivery .box {
    border-radius: 10px;
    width: 100%;
    background-image: url("../img/restaurant_cover.jpg");
    background-repeat: no-repeat;
}

#delivery h4 {
    color: whitesmoke;
}

#delivery span {
    color: floralwhite;
}

#delivery i {
    color: lightskyblue;
}

#find-us{
    width: 100%;
}
